.contactpage{
    display: flex;
    margin-top: 100px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    
}
.optionalcontact{
    margin-left: 20px;
    max-width: 380px;
    padding: 5px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.optionalcontact p {
    margin: 2px;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
fieldset{
    padding: 5px;
    margin: auto;
    font-size: 1rem;
}

form ul{
    list-style:none;
    min-width: 200px;
    padding: 5px;
    margin-bottom: 5px;
}
form{
    width: auto;
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
}
form li{
    margin: 6px;
    display: flex;
    max-width: 360px;
    justify-content: space-between;
}
label{
    font-size: 1rem;
}
input{
    min-width: 270px;
    border: 1px solid black;
    padding: 2px;
    font-size: 1rem;
}
textarea{
    max-width: 400px;
    border: 1px solid black;
    font-size: 0.9rem;
}
#btn{
    margin: 15px;
    margin-bottom: 1px;
}
button{
    font-size: 1rem;
}