@font-face {
    font-family: 'font-1';
    src: url('./fonts/font-1.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-2';
    src: url('./fonts/font-2.ttf');
        font-weight: 600;
        font-style: normal;
}
.contactpage{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1px;
    max-width: 1000px;
    flex-wrap: wrap;
    
}
.optionalcontact{
    margin-left: 20px;
    max-width: 380px;
    padding: 5px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.optionalcontact >h1{
    font-family: font-2;
    line-height: 1.2;
}
.optionalcontact p {
    margin: 2px;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
fieldset{
    padding: 5px;
    font-size: 1rem;
}

form ul{
    list-style:none;
    min-width: 200px;
    padding: 0px;
    margin-bottom: 5px;
}
form{
    margin: auto;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
form li{
    margin: 6px;
    display: flex;
    max-width: 340px;
    justify-content: space-between;
}
label{
    font-size: 1rem;
}
input{
    min-width: 260px;
    border: 1px solid black;
    padding: 2px;
    font-size: 1rem;
}
textarea{
    max-width: 400px;
    border: 1px solid black;
    font-size: 0.9rem;
}
#btn{
    margin: 15px;
    margin-bottom: 1px;
}
button{
    font-size: 1rem;
}