body{
    font-size: 18px;
}

.servicespage{
    max-width: 1000px;
    margin: auto;
    min-height: 500px;
    margin-top: 80px;
}
.servicespage p, h2{
    line-height: 1.4;
    margin: 1px;
}

.servicespage h4{
    margin-top: 0px;
    text-align: center;
}
.portfolio{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio > div{
    margin-bottom: 10px;
    box-shadow: 1px 1px 6px black;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.portfolio >div> img{
    min-width: 230px;
    max-width: 360px;
    margin: 1px;
}
.portfolio >div>img:hover{
    opacity: 50%;
}
.port{
    padding: 30px;
}
.port >h3{
    color: black;
    font-size: 1.2rem;
}
.port >p{
    margin-left: 20px;
    font-size: 1rem;
}
@media(max-width:450px){
    .portfolio >div> img{
        width: 100%;
        margin-left: 2px;
        margin-right: 2px;
    }
    .port > .p{
        font-size: 0.9rem;
    }
}