@font-face {
    font-family: 'font-1';
    src: url('./fonts/font-1.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-2';
    src: url('./fonts/font-2.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-3';
    src: url('./fonts/font-3.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-4';
    src: 
        url('./fonts/font4.otf');
        font-weight: 600;
        font-style: normal;
}

body{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.servicespage{
    max-width: 1000px;
    margin: auto;
    min-height: 500px;
    margin-top: 80px;
}
.servicespage p, h2{
    line-height: 1.4;
    margin: 1px;
}
h2{
    font-size: 1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.servicespage h4{
    margin-top: 0px;
    text-align: center;
}
.portfolio{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio > div{
    margin-bottom: 10px;
    box-shadow: 1px 1px 6px black;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.portfolio >div> img{
    min-width: 230px;
    max-width: 360px;
    margin: 1px;
}
.portfolio >div>img:hover{
    opacity: 50%;
}
.port{
    padding: 30px;
}
.port >h3{
    color: rgb(33, 17, 52);
    font-size: 1.1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    word-spacing: -2px;
}
.port >p{
    margin-left: 20px;
    font-size: 0.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(max-width:450px){
    .portfolio >div> img{
        width: 100%;
        margin-left: 2px;
        margin-right: 2px;
    }
    .port > .p{
        font-size: 0.9rem;
    }
}