.personalpage{
    max-width: 900px;
    padding: 20px;
    margin: auto;
    font-size: 1rem;
    margin-top: 110px;
    margin-bottom: 100px;
}
.personalpage  p, h4{
    margin: 3px;
    margin-top: 10px;
}
.personalpage > .email_phone{
    margin: 1px;
}
.personalpage > img{
    max-width: 160px;
    max-height: fit-content;
    width: 24%;
    min-width: 80px;
    object-fit: cover;
    object-position: 50% 20% ;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid blue;
    background: linear-gradient(40deg, red, yellow, blue);
    float: right;
    margin-right: 20px;
}
.personalpage > .aboutme >p {
    margin: 0px;
    line-height: 1.5;
    font-size: 1rem;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media(max-width: 1050px){
    .personalpage{
        max-width: 650px;
    }
}